.overlay {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  &.visible {
    background: rgba(128, 128, 128, 0.466);
    left: 0;
    top: 0;
  }
}

.overlay-content {
  top: 11%;
  width: 20%;
  position: absolute;
  left: 40%;
  z-index: 20;
  &.large {
    width: 35%;
    left: 32.5%;
    top: 1%;
  }
}